# Kafka
KAFKA_BROKER=kafka:9092
KAFKA_TOPIC=game-events
KAFKA_GROUP=stats-workers

# Postgres
DB_URL=postgres://sp_user:sp_pass@postgres:5432/sportspulse?sslmode=disable

# Redis
REDIS_URL=redis:6379

# Service ports
EVENT_SVC_PORT=8080
QUERY_SVC_PORT=8081