terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
order-lambda/bootstrap
order-lambda/function.zip
**/.DS_Store